<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <form action="/student/add" method="POST">
        <label for="Id">ID:</label>
        <input type="number" name="id" id="Id">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <label for="age">Age:</label>
        <input type="number" name="age" id="age">
        <label for="merit">Merit</label>
        <input type="number" name="merit" id="merit">
        <label for="other">Other</label>
        <input type="number" name="other" id="other">
        <button type="submit">Submit</button>
    </form>
</body>
</html>