<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <ul>
        <% data.forEach((d)=>{ %>
        <li><a href="/student/<%= d.id %>"><%= d.name %></a></li> 
        <div class="buttonFlex">
            <form action="" method="">
                <button type="submit"><a href="/student/edit/<%= d.id %>">編輯</a></button>
            </form>
            <form action="/student/delete/<%= d.id %>?_method=DELETE" method="POST">
                <button type="submit">刪除</button>
            </form>
        </div>
        <% }) %>
    </ul>
</body>
</html>