<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Weather</title>
</head>
<body>
    <div class="content">
        <div class="input" >
            <div class="title">查詢天氣</div>
            <form>
                <input type="text" id="weatherSearch" placeholder="輸入國家/城市"/>
                <input type="submit" hidden />
            </form>
        </div>
        <div id="weather"></div>
    </div>
</body>
<script>
    const cityForm = document.querySelector('form');
    const weatherSearchInput = document.querySelector('#weatherSearch');
    cityForm.addEventListener('submit', function(event) {
            // 阻止預設的 submit 行為
            event.preventDefault();

            // 獲取輸入的城市名稱
            const city = weatherSearchInput.value;

            // 使用 JavaScript 來導航到帶有城市名稱的 URL
            window.location.href = `http://localhost:3000/${city}`;
        });
</script>
</html>