<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表單確認</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="block">
        <div class="blockFlex">
            <h3>感謝填寫表單!</h3>
            <p>以下是您的填寫資訊:</p>
            <p>姓名: <%= username %></p>
            <p>年齡: <%= userage %></p>
        </div>
    </div>

</body>
</html>