<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="block">
        <div class="blockflex">
            <h4>Home page</h4>
            <p>Hello, enter your name after the url</p>
            <p>ex: localhost:6060/Peter</p>
            <br>
            <a href="/form">填寫表單↗</a>
                <table>
                    <tr>
                        <td>name</td>
                        <td>rate</td>
                        <td>popularity</td>
                        <td>trending</td>
                    </tr>
                    <% languages.forEach((languages)=>{ %>
                    <tr>
                        <td><%= languages.name %></td>
                        <td><%= languages.rate %></td>
                        <td><%= languages.popularity %></td>
                        <td><%= languages.trending %></td>
                    </tr>
                    <% }) %>
                </table>

        </div>
    </div>
</body>
</html>