<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="block">
        <div class="blockflex">
            <h4>Home page</h4>
            <p>Hello, enter your name after the url</p>
            <p>ex: localhost:6060/Peter</p>
            <% for(let i = 0; i < 100; i++) { %>
                <p>第<%= i %>項</p>
            <% } %>
        </div>
    </div>
</body>
</html>